body {
	background: url(../Images/Blog.jpg) no-repeat center center fixed;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

@font-face {
  font-family: Font1;
  src: url(../fonts/Metropolis.ttf);
}

@font-face {
  font-family: Font2;
  src: url(../fonts/Candy.ttf);
}

h1 {
	font-size: 100px;
	color: navy;
	font-family: Font2;
	text-align: center;
}

h2 {
	font-size: 100px;
	color: black;
	font-family: Font1;
	text-align: center;
}

.container{
	margin: 0 auto;
	margin-top: 100px;
	border-radius: 20px;
	width: 1024px;
	height: all;
	border: solid 4px black;
}

.container2{
	margin: 20px;
	border: transparent;
	text-align: center;
}


ul{
	display: inline;
	text-align: center;
	list-style: none;
}

li {
	font-size: 35px;
	font-family: font2;
	font-weight: bolder;
	color: navy;
	text-decoration: underline;
	text-align: center;
	display: inline;
	padding-right: 25px;

}

li:hover{
	background: rgba(255, 255, 255, 255);
}
